.card {
	border-radius: 10px;
	padding: 15px;
	background-color: var(---highlight-color);
	margin-bottom: 10px;
	gap: 20px;
	border-right: 2px solid var(---accent-color);
	border-bottom: 1px solid var(---shadow-color);
}

.title {
	color: var(---primary-color);
}

.thumbnail {
	overflow: hidden;
	height: 200px;
	border-radius: 12px;
}
.thumbnail > img {
	object-fit: cover;
}

.description {
	margin-top: 10px;
}
